# macOS
.DS_Store

# Visual Studio Code
.vscode/*
#!.vscode/settings.json
#!.vscode/tasks.json
#!.vscode/launch.json
#!.vscode/extensions.json
#!.vscode/*.code-snippets
__debug_bin

# JetBrains
.idea/

# configuration file
/config/*.json
/config/*.toml
/config/*.yaml
/config/cluster/store/*.yaml
/config/cluster/controller/*.yaml
/config/**/*.local.*

# data dir of etcd
etcd
bin

*.xml

*coverage*

.run

vanus-bench

*.log

secret.yml