* @ifplusor

/lib/ @ifplusor
/pkg/raft/ @ifplusor

/pkg/kv/ @xdlbdy

/server/root/ @xdlbdy
/server/controller/ @xdlbdy
/server/controller/eventbus/ @ifplusor
/server/gateway/ @hwjiangkai
/server/store/ @ifplusor
/server/trigger/ @xdlbdy
/server/timer/ @hwjiangkai

/client/ @hwjiangkai

/cmd/vs-root/ @xdlbdy
/cmd/vs-controller/ @xdlbdy
/cmd/vs-gateway/ @ifplusor
/cmd/vs-store/ @ifplusor
/cmd/vs-trigger/ @xdlbdy
/cmd/vs-timer/ @hwjiangkai

/build/ @xdlbdy
/deploy/ @xdlbdy
