name: "test-3"
ip: "127.0.0.1"
port: 4048
etcd:
  - "127.0.0.1:2379"
  - "127.0.0.1:3379"
  - "127.0.0.1:4379"
topology:
  test-1: 127.0.0.1:2048
  test-2: 127.0.0.1:3048
  test-3: 127.0.0.1:4048
data_dir: "/Users/wenfeng/tmp/data/vanus/cluster"
replicas: 1
metadata:
  key_prefix: "/wenfeng"
embed_etcd:
  # relative path to ${data_dir} above
  data_dir: "etcd/node3"
  client_addr: "127.0.0.1:4379"
  peer_addr: "127.0.0.1:4380"
  clusters:
    - test-1=http://127.0.0.1:2380
    - test-2=http://127.0.0.1:3380
    - test-3=http://127.0.0.1:4380