name: "test-1"
ip: "127.0.0.1"
port: 2048
etcd:
  - "127.0.0.1:2379"
  - "127.0.0.1:3379"
  - "127.0.0.1:4379"
data_dir: "/Users/wenfeng/tmp/data/vanus/cluster"
replicas: 1
topology:
  test-1: 127.0.0.1:2048
  test-2: 127.0.0.1:3048
  test-3: 127.0.0.1:4048
metadata:
  key_prefix: "/wenfeng"
embed_etcd:
  # relative path to ${data_dir} above
  data_dir: "etcd/node1"
  listen_client_addr: 127.0.0.1:2379
  listen_peer_addr: 127.0.0.1:2380
  advertise_client_addr: 127.0.0.1:2379
  advertise_peer_addr: 127.0.0.1:2380
  heartbeat-interval: 600000
  election-timeout: 600000
  clusters:
    - test-1=http://127.0.0.1:2380
    - test-2=http://127.0.0.1:3380
    - test-3=http://127.0.0.1:4380