name: "test-2"
ip: "127.0.0.1"
port: 3048
etcd:
  - "127.0.0.1:2379"
  - "127.0.0.1:3379"
  - "127.0.0.1:4379"
data_dir: "/Users/wenfeng/tmp/data/vanus/cluster"
metadata:
  key_prefix: "/wenfeng"
embed_etcd:
  name: "etcd-2"
  # relative path to ${data_dir} above
  data_dir: "etcd/node2"
  client_addr: "127.0.0.1:3379"
  peer_addr: "127.0.0.1:3380"
  clusters:
    - etcd-1=http://127.0.0.1:2380
    - etcd-2=http://127.0.0.1:3380
    - etcd-3=http://127.0.0.1:4380
#eventbus:
trigger:
  storage:
    keyPrefix: "/xdl"
    serverList: [ "127.0.0.1:2379" ]