port: 18080
controllers:
  - "127.0.0.1:2048"
#  - "127.0.0.1:3048"
#  - "127.0.0.1:4048"
observability:
  metrics:
    enable: true
    # metrics for prometheus scratch data
    port: 2112
  tracing:
    enable: false
    # OpenTelemetry Collector endpoint, https://opentelemetry.io/docs/collector/getting-started/
    otel_collector: http://127.0.0.1:4318