port: 11811
ip : localhost
root_controllers:
  - localhost:2021
controllers:
  - localhost:2048
volume:
  id: 1
  dir: /Users/wenfeng/tmp/data/vanus/store-standalone
  capacity: 1073741824
meta_store:
  wal:
    io:
      engine: psync
offset_store:
  wal:
    io:
      engine: psync
raft:
  wal:
    io:
      engine: psync
observability:
  metrics:
    enable: true
    # metrics for prometheus scratch data
    port: 2112
  tracing:
    enable: false
    # OpenTelemetry Collector endpoint, https://opentelemetry.io/docs/collector/getting-started/
    otel_collector: http://127.0.0.1:4318